body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  text-align: center;
  padding: 50px;
}

h1 {
  font-size: 48px;
  color: #b91b1b;
}
.botonsinici {
    display: flex;
    flex-direction: column;
    align-items: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;

  }
  .nom{
    display: flex;
    flex-direction: column;
    align-items: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    margin: 0;

    
  }
  /**/
  .nom {
    background-color: #7c2121;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 160px;
    margin: 0 auto;
    max-width: 400px;
}
#inicisessiocss{
  display: flex;
    flex-direction: column;
    align-items: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    margin: 0;
  background-color: #7c2121;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 0 auto;
  max-width: 400px;
  color: white
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ff0000;
    border-radius: 5px;
}
#curs{
  width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background-color: #a40000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #5b0000;
}
.registrar,
.iniciarsessio {
  font-size: 20px   ;
  margin: 20px;
  padding: 1,5%;
  color: rgb(255, 255, 255);
  background-color: rgb(180, 0, 0);
}
.botonsinici {
  display: flex;
  flex-direction: column;
  align-items: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin: 0;

}


#assignaturaMitjanaCss {
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Estilos para la etiqueta de selección */


/* Estilos para el select */
#assignaturaMitjana {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
#assignaturaapunts {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
/* Estilos para el botón */
.llarg {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.inicis:hover {
  background-color: #750404;
}

a{
  color: #d20b0b;
}
 .nom{
  color: rgb(255, 255, 255)
}
h2{
  color: white
}